# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
1. List of data science tools 
2. List of languages in Data science
3. List of libraries used in data science

Some of the popular languages that Data Scientists use are:
Commonly used languages for Data science are :
1. R
2. Python
3. Julia
4. JAVA
5. C++

Some of the commonly used libraries used by Data Scientists include:
Commonly used libraries in Data Science are:
1. Panda
2. Numpy
3. Matplotlib
4. sci-kitlearn
5. Tensorflow
6. ggplot
7. carret
8. plotly

|Data Science Tools|
------------------
|Python|
|R|
|github|
|Hadoop|
|MySQL|
|Cassandra|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
min = 200
hours =  200 / 60
print(f"200 minutes converted in {hours} hours")

200 minutes converted in 3.3333333333333335 hours

## Author
Piyush Chaudhari